<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922027102479-h8losfsd2jf6qlaf9o39a80sioak8dsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922027102479-h8losfsd2jf6qlaf9o39a80sioak8dsh</string>
	<key>API_KEY</key>
	<string>AIzaSyAzk7zfCxnDRNV5UMk1W5WuDbbsIjTl3Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>922027102479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>finder-cs310-project</string>
	<key>STORAGE_BUCKET</key>
	<string>finder-cs310-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922027102479:ios:5ce2eb38503e6571ccee7a</string>
</dict>
</plist>